.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF7F7;
  }
  
  .books {
    display: flex;
    gap: 10px;
  }
  
  .book {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 2px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #FFF0F5;
  }
  
  .book:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: #F4C2C2;
  }
  
  .linkB {
    border: none;
    margin: 30px;
    padding: 10px 20px;
    background-color: #F8BBD0;
    cursor: pointer;
    border: 1px solid #D81B60;
    color: #D81B60;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .linkB:hover {
    background-color: #F48FB1;
    color: #FFF;
    transform: scale(1.1);
  }
  
  .delete {
    border: none;
    padding: 10px 20px;
    background-color: #FFF0F5;
    cursor: pointer;
    border: 1px solid #D81B60;
    color: #D81B60;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .delete:hover {
    background-color: #F8BBD0;
    color: #FFF;
    transform: scale(1.1);
  }
  
  .update {
    border: none;
    padding: 10px 20px;
    background-color: #FFF0F5;
    cursor: pointer;
    border: 1px solid #673AB7;
    color: #673AB7;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .update:hover {
    background-color: #E1BEE7;
    color: #FFF;
    transform: scale(1.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFF0F5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  
  .input {
    width: 250px;
    padding: 10px;
    border: 1px solid #F48FB1;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .formButton {
    border: none;
    padding: 10px 20px;
    background-color: #F8BBD0;
    cursor: pointer;
  }

 
  